/***************
    RESET 
***************/
*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}
/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/***************
    THEME 
***************/

:root {
  --bg-primary-200: #343a40;
  --bg-primary-300: #495057;
  --bg-primary-400: #353b41;
  --text-primary-400: #f0f3f5;
  --gray-400: #ced4d9;

  --lightBlue-400: #0d98ad;
}

/***************
    GENERAL 
***************/
html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--bg-primary-400);
  color: var(--text-primary-400);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding: 1rem;
}

/*******************
      BLOCKS
******************/

/* BUTTON */
.btn {
  background-color: var(--bg-primary-300);
  border: 2px solid var(--bg-primary-300);
  border-radius: 100px;
  color: inherit;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: var(--bg-primary-200);
  background-color: var(--color-darkest);
}

/* CUSTOM METER BAR */
.player-status-bar {
  /* Define the width and height of the meter */
  width: 100%;
  height: 20px;
}

/* Define the color for the portion of the meter representing the value */
.player-status-bar::-webkit-meter-bar {
  background-color: var(--gray-400);
}

.player-status-bar::-moz-meter-bar {
  background-color: var(--gray-400);
}

/* Define the styles for different parts of the meter on various browsers */
.player-status-bar::-webkit-meter-optimum-value {
  background-color: var(--lightBlue-400);
}

.player-status-bar::-moz-meter-optimum-value {
  background-color: var(--lightBlue-400);
}

/*******************
    UTILITIES 
******************/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}
